.course-form {
    max-width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .silavo-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .silavo-group input {
    flex: 1;
    margin-right: 10px;
  }
  